{% extends "layout/container.html" %}
{% block title %}
| New VDML Document
{% endblock title %}
{% block style %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../static/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css">
<link rel="stylesheet" href="../static/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css">
{% endblock style %}
{% block body_content %}
<br>

<!-- Multi Column with Form Separator -->

<form method="post">
    {% csrf_token %}
    <div class="container-xxl flex-grow-1 container-p-y">
        {% comment %} <h4 class="py-3 mb-4"><span class="text-muted fw-light">Forms/</span> Vertical Layouts</h4> {% endcomment %}
        <!-- Multi Column with Form Separator -->
        <div class="card">
            <h5 class="card-header">Basic Details</h5>
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-md-3">
                        <label class="form-label" for="">Customer Document No</label>
                        <input type="text" class="form-control" placeholder="Customer Document No" name="customer_doc_no" />
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="">ROS Document No</label>
                        <input type="text" class="form-control" placeholder="ROS Document No" name="ros_doc_no"/>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="">SES Document No</label>
                        <input type="text" class="form-control" placeholder="SES Document No" name="ses_doc_no"/>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="">Document Title</label>
                        <input type="text" class="form-control" placeholder="Document Title" name="document_title" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Column Search -->
        <div class="card mt-4">
            <div class="card-datatable text-nowrap">
                <table class="dt-column-search table">
                    <thead>
                        <tr>
                            <th>Ros Engineer</th>
                            <th>Doc. Rev No</th>
                            <th>Issue of Code</th>
                            <th>Planned Date</th>
                            <th>Forcast Date</th>
                            <th>Actual Date</th>
                            <th>Ros Transmittal</th>
                            <th>Approval Rev</th>
                            <th>Approval Date</th>
                            <th>Actual Returned Date</th>
                            <th>Se Comment</th>
                            <th>Planned Return Date</th>
                            <th>Actual Return Date</th>
                            <th>Client Transmittal</th>
                            <th>Blng Comment</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-body">
                <div class="">
                    <button type="submit" class="btn btn-primary me-sm-3 me-1">Submit</button>
                    <button type="reset" class="btn btn-label-secondary">Cancel</button>
                    {% comment %} <button class="btn btn-primary waves-effect waves-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBackdrop" aria-controls="offcanvasBackdrop">Select Columns</button> {% endcomment %}
                </div>
            </div>
        </div>
        <!--/ Column Search -->
    </div>
</form>
<div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasBackdrop" aria-labelledby="offcanvasBackdropLabel" aria-modal="true" role="dialog">
    <div class="offcanvas-header">
     
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body mx-0 flex-grow-0">
        <div class=" mb-4">
            <h5 class="card-header">Select Fields</h5>
            <div class="card-body">
              <div class="form-check form-switch mb-2">
                <input class="form-check-input" checked onclick="table_hide(0)" type="checkbox" id="ros_engineer">
                <label class="form-check-label"  for="ros_engineer">ROS Engineer</label>
              </div>
              <div class="form-check form-switch mb-2">
                <input class="form-check-input" checked onclick="table_hide(1)" type="checkbox" id="doc_revision_no" >
                <label class="form-check-label" for="doc_revision_no">Doc. Rev No </label>
              </div>
              <div class="form-check form-switch mb-2">
                <input class="form-check-input" checked onclick="table_hide(2)" type="checkbox" id="issue_of_code">
                <label class="form-check-label"  for="issue_of_code">Issue Of Code</label>
              </div>
             
              <div class="form-check form-switch mb-2">
                <input class="form-check-input" checked onclick="table_hide(3)" type="checkbox" id="planned_date">
                <label class="form-check-label"  for="planned_date">Planned Date</label>
              </div>
              <div class="form-check form-switch mb-2">
                <input class="form-check-input" checked onclick="table_hide(4)" type="checkbox" id="forecast_date" >
                <label class="form-check-label" for="forecast_date">Forecast Date </label>
              </div>
              <div class="form-check form-switch mb-2">
                <input class="form-check-input" checked onclick="table_hide(5)" type="checkbox" id="actual_date" >
                <label class="form-check-label" for="actual_date">Actual Date </label>
              </div>
              <div class="form-check form-switch mb-2">
                <input class="form-check-input" checked onclick="table_hide(6)" type="checkbox" id="ros_transmittal">
                <label class="form-check-label"  for="ros_transmittal">ROS Transmittal</label>
              </div>
              <div class="form-check form-switch mb-2">
                <input class="form-check-input" checked onclick="table_hide(7)" type="checkbox" id="approval_rev" >
                <label class="form-check-label" for="approval_rev">Approval Rev</label>
              </div>
              <div class="form-check form-switch mb-2">
                <input class="form-check-input" checked onclick="table_hide(8)" type="checkbox" id="approval_date">
                <label class="form-check-label"  for="approval_date">Approval Date</label>
              </div>
             
              <div class="form-check form-switch mb-2">
                <input class="form-check-input" checked onclick="table_hide(9)" type="checkbox" id="actual_returned_date">
                <label class="form-check-label"  for="actual_returned_date">Actual Returned Date</label>
              </div>
              <div class="form-check form-switch mb-2">
                <input class="form-check-input" checked onclick="table_hide(10)" type="checkbox" id="se_comment" >
                <label class="form-check-label" for="se_comment">SE Comment </label>
              </div>
              <div class="form-check form-switch mb-2">
                <input class="form-check-input" checked onclick="table_hide(11)" type="checkbox" id="planned_return_date">
                <label class="form-check-label"  for="planned_return_date">Planned Return Date</label>
              </div>
              <div class="form-check form-switch mb-2">
                <input class="form-check-input" checked onclick="table_hide(12)" type="checkbox" id="actual_return_date" >
                <label class="form-check-label" for="actual_return_date">Actual Return Date</label>
              </div>
              <div class="form-check form-switch mb-2">
                <input class="form-check-input" checked onclick="table_hide(13)" type="checkbox" id="client_transmittal" >
                <label class="form-check-label" for="client_transmittal">Client Transmittal </label>
              </div>
              <div class="form-check form-switch mb-2">
                <input class="form-check-input" checked onclick="table_hide(14)" type="checkbox" id="planned_return_date">
                <label class="form-check-label"  for="planned_return_date">BLNG Comment</label>
              </div>

              
                          
            </div>
          </div>
    </div>
  </div>
{% endblock body_content %}

{% block js %}
<script src="../static/assets/vendor/libs/jquery-repeater/jquery-repeater.js"></script>
<script src="../static/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
{% comment %} <script src="../static/assets/js/form-layouts.js"></script> {% endcomment %}
<script>
    function table_hide(index){         
        var column =  table.column(index)
        column?.visible(event.currentTarget.checked)
    }    
    const table = $(".dt-column-search").DataTable({
        scrollX: true,
        paging: false,
        buttons: [
            {
                text: 'Select Columns',
                className: "btn btn-primary waves-effect waves-light",
                attr: {
                    'data-bs-toggle': 'offcanvas',
                    'data-bs-target': '#offcanvasBackdrop',
                    'aria-controls': 'offcanvasBackdrop',
                    
                }
            },    
            
        {
            text: '<i class="ti ti-plus me-sm-1"></i><span class="d-none d-sm-inline-block">Add New Record</span>',
            className: "create-new btn btn-primary",
            attr: {
                popupmodel: ''
            }
        },
        
        ],
        dom: `<"card-header flex-column flex-md-row"l
          <"head-label text-center">
            <"dt-action-buttons text-end pt-3 pt-md-0"B>
          >
        <"row"
          <"col-sm-12 col-md-6">
            <"col-sm-12 col-md-6 d-flex justify-content-center justify-content-md-end"f>
          >t<"row"<"col-sm-12 col-md-6"i><"col-sm-12 col-md-6"p>
        >`,
        searching: false,
        initComplete: function(settings, json) {
            document.querySelector('[popupmodel]').addEventListener('click', function() {
                // popupmodel_div.toggle();
                add_new_row()
            })
        }
    })
    table.column(0)?.visible(true)
    table.column(1)?.visible(true)
    $('body').on('click', ' [remove_row]', function() {
        table
            .row(event.currentTarget.closest('tr'))
            .remove()
            .draw();
    })

    function add_new_row() {
        const RowElement = table.row.add([
            `<select class="select2 form-select" data-allow-clear="true" aria-label="Default select example" name="ros_engineer[]">        
        <option value="">Select</option>
        {% for ros_engineer in ros_engineers %}
        <option value="{{ros_engineer.id}}">{{ros_engineer.username}}</option>
        {% endfor %}
            </select>`,
            `<input type="text" class="form-control" placeholder="Doc. Rev" name="doc_revision_no[]" />`,
            `<select data-allow-clear="true" class="select2 form-select" data-placeholder="Select a State" aria-label="Default select example" name="issue_of_code[]">    
      <option value="IFC">IFC</option>
      <option value="AFC">AFC</option>
  </select>`,
            `<input type="text" class="form-control dob-picker" placeholder="YYYY-MM-DD" name="planned_date[]"/>`,
            `<input type="text" class="form-control dob-picker" placeholder="YYYY-MM-DD" name="forecast_date[]"/>`,
            `<input type="text" class="form-control dob-picker" placeholder="YYYY-MM-DD" name="actual_date[]"/>`,
            `<input type="text"  class="form-control" placeholder="Ros Transmittal" name="ros_transmittal[]" />`,
            `<input type="text"  class="form-control" placeholder="Approval Rev" name="approval_rev[]" />`,
            `<input type="text" class="form-control dob-picker" placeholder="YYYY-MM-DD" name="approval_date[]"/>`,
            `<input type="text" class="form-control dob-picker" placeholder="YYYY-MM-DD" name='actual_returned_date[]' />`,
            `<select class="select2 form-select" data-allow-clear="true" aria-label="Default select example" name="se_comment[]">        
      <option value="SE ACCEPTED">SE ACCEPTED</option>
      <option value="SE REVISED">SE REVISED</option>
  </select>`,
            `<input type="text" class="form-control dob-picker" placeholder="YYYY-MM-DD" name="planned_return_date[]"/>`,
            `<input type="text" class="form-control dob-picker" placeholder="YYYY-MM-DD" name="actual_return_date"[]"/>`,
            `<input type="text"  class="form-control" placeholder="Client Transmittal" name="client_transmittal[]"/>`,
            `<input type="text"  class="form-control" placeholder="Blng Comment" name"blng_comment[]"/>`,
            `<button type="button" remove_row class="btn btn-danger waves-effect waves-light">Delete</button>`,
        ]).draw(false);
        RowElement.node().querySelectorAll('.dob-picker').flatpickr()
        $(RowElement.node().querySelectorAll('.select2')).select2({})
    }
</script>

{% endblock js %}