{% extends "layout/container.html" %} 
{% block title %} | Roles {% endblock title %}
{% block body_content %}


     <!-- Content wrapper -->
     <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">


            <h4 class="mb-4">Roles List</h4>

            <p class="mb-4">A role provided access to predefined menus and features so that depending on <br> assigned role an administrator can have access to what user needs.</p>
            <!-- Role cards -->
            <div class="row g-4">
                
                
                    {% for role in roles %}
                    {% include "inc/role_card.html" %}
                    {% endfor %}

                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="card h-100">
                        <div class="row h-100">
                            <div class="col-sm-5">
                                <div class="d-flex align-items-end h-100 justify-content-center mt-sm-0 mt-3">
                                    <img src="../static/assets/img/illustrations/add-new-roles.png" class="img-fluid mt-sm-4 mt-md-0" alt="add-new-roles" width="83">
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="card-body text-sm-end text-center ps-sm-0">
                                    <button data-bs-target="#addRoleModal" data-bs-toggle="modal" class="btn btn-primary mb-2 text-nowrap add-new-role waves-effect waves-light">Add New Role</button>
                                    <p class="mb-0 mt-1">Add role, if it does not exist</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <!-- Role Table -->
                    <div class="card">
                        <div class="card-datatable table-responsive">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                                <div class="row mx-2">
                                    <div class="col-sm-12 col-md-4 col-lg-6">
                                        <div class="dataTables_length" id="DataTables_Table_0_length"><label>Show <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select></label></div>
                                    </div>
                                    <div class="col-sm-12 col-md-8 col-lg-6">
                                        <div class="dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-md-end justify-content-center align-items-center flex-sm-nowrap flex-wrap me-1">
                                            <div class="me-3">
                                                <div id="DataTables_Table_0_filter" class="dataTables_filter"><label>Search<input type="search" class="form-control" placeholder="Search.." aria-controls="DataTables_Table_0"></label></div>
                                            </div>
                                            <div class="user_role w-px-200 pb-3 pb-sm-0"><select id="UserRole" class="form-select text-capitalize">
                                                    <option value=""> Select Role </option>
                                                    <option value="Admin" class="text-capitalize">Admin</option>
                                                    <option value="Author" class="text-capitalize">Author</option>
                                                    <option value="Editor" class="text-capitalize">Editor</option>
                                                    <option value="Maintainer" class="text-capitalize">Maintainer</option>
                                                    <option value="Subscriber" class="text-capitalize">Subscriber</option>
                                                </select></div>
                                        </div>
                                    </div>
                                </div>
                                <table class="datatables-users table border-top dataTable no-footer dtr-column" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 1393px;">
                                    <thead>
                                        <tr>
                                            <th class="control sorting_disabled dtr-hidden" rowspan="1" colspan="1" style="width: 0px; display: none;" aria-label=""></th>
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 179px;" aria-label="Role: activate to sort column ascending">Role</th>
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 112px;" aria-label="Plan: activate to sort column ascending">Users</th>
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 207px;" aria-label="Billing: activate to sort column ascending">Created At</th>
                                            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 155px;" aria-label="Actions">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
{% for role in roles %}
<tr class="odd">
    <td class="  control" tabindex="0" style="display: none;"></td>
    <td class="sorting_1">
        <div class="d-flex justify-content-left align-items-center">
            <div class="avatar-wrapper">
                <div class="avatar me-3"><img src="../static/assets/img/avatars/2.png" alt="Avatar" class="rounded-circle"></div>
            </div>
            <div class="d-flex flex-column"><a href="app-user-view-account.html" class="text-body text-truncate"><span class="fw-medium">{{role.name}}</span></a><small class="text-muted">@zmcclevertye@soundcloud.com</small></div>
        </div>
    </td>
    <td>
        {% for user in role.users.all %}
        <span class="text-nowrap">
            <a href="app-user-list.html">  <!-- Adjust this href as needed -->
                <span class="badge bg-label-primary m-1">{{ user.username }}</span>
            </a>
        </span>
        {% endfor %}
    
    <td>{{role.created_at}}</td>
    
    <td>
        <span class="text-nowrap">
            <button class="btn btn-sm btn-icon me-2" data-bs-target="#editPermissionModal" data-bs-toggle="modal" data-bs-dismiss="modal">
                <i class="ti ti-edit"></i>
            </button>
            <button class="btn btn-sm btn-icon delete-record">
                <i class="ti ti-trash"></i>
            </button>
        </span>
    </td>
</tr>

{% endfor %}

                                        

                                    </tbody>
                                </table>
                                <div class="row mx-2">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 10 of 50 entries</div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a aria-controls="DataTables_Table_0" aria-disabled="true" aria-role="link" data-dt-idx="previous" tabindex="0" class="page-link">Previous</a></li>
                                                <li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0" aria-role="link" aria-current="page" data-dt-idx="0" tabindex="0" class="page-link">1</a></li>
                                                <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" aria-role="link" data-dt-idx="1" tabindex="0" class="page-link">2</a></li>
                                                <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" aria-role="link" data-dt-idx="2" tabindex="0" class="page-link">3</a></li>
                                                <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" aria-role="link" data-dt-idx="3" tabindex="0" class="page-link">4</a></li>
                                                <li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" aria-role="link" data-dt-idx="4" tabindex="0" class="page-link">5</a></li>
                                                <li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" aria-role="link" data-dt-idx="next" tabindex="0" class="page-link">Next</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Role Table -->
                </div>
            </div>
            <!--/ Role cards -->

            <!-- Add Role Modal -->
<div class="modal fade" id="addRoleModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-add-new-role">
        <div class="modal-content p-3 p-md-5">
            <button type="button" class="btn-close btn-pinned" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <div class="text-center mb-4">
                    <h3 class="role-title mb-2">Add New Role</h3>
                    <p class="text-muted">Set role permissions</p>
                </div>
                <!-- Add role form -->
                <form id="addRoleForm" class="row g-3 fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate" action="{% url 'create_role' %}" method="post">
                    {% csrf_token %}
                    <div class="col-12 mb-4 fv-plugins-icon-container">
                        <label class="form-label" for="modalRoleName">Role Name</label>
                        <input type="text" id="modalRoleName" name="{{form.name.name}}" class="form-control" placeholder="Enter a role name">
                        
                        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                    </div>
                    <div class="col-12">
                        <h5>Role Permissions</h5>
                        <!-- Permission table -->
                        <div class="table-responsive">
                            <table class="table table-flush-spacing">

                                <tbody>
                                    {% for permission in permissions %}
                                    {% include "inc/add_permission_row.html" %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- Permission table -->
                    </div>
                    <div class="col-12 text-center mt-4">
                        <button type="submit" class="btn btn-primary me-sm-3 me-1 waves-effect waves-light">Submit</button>
                        <button type="reset" class="btn btn-label-secondary waves-effect" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                    <input type="hidden">
                </form>
                <!--/ Add role form -->
            </div>
        </div>
    </div>
</div>
<!--/ Add Role Modal -->

        </div>
    </div>
    <!-- Content wrapper -->
{% endblock body_content %}