<div class="card">
    <div class="card-datatable table-responsive">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
            <div class="row mx-1">
                <div
                    class="col-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-start gap-2">
                    <div class="dataTables_length" id="DataTables_Table_0_length"><label>Show <select
                                name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select></label></div>
                    <div class="dt-action-buttons text-xl-end text-lg-start text-md-end text-start mt-md-0 mt-3">
                        <div class="dt-buttons"><button class="dt-button btn btn-primary" tabindex="0"
                                aria-controls="DataTables_Table_0" type="button"><span><i
                                        class="ti ti-plus me-md-1"></i><span class="d-md-inline-block d-none">Add Permissions</span></span></button> </div>
                    </div>
                </div>
                <div
                    class="col-12 col-md-6 d-flex align-items-center justify-content-end flex-column flex-md-row pe-3 gap-md-3">
                    <div id="DataTables_Table_0_filter" class="dataTables_filter"><label><input type="search"
                                class="form-control" placeholder="Search Invoice"
                                aria-controls="DataTables_Table_0"></label></div>
                    <div class="invoice_status mb-3 mb-md-0"></div>
                </div>
            </div>
            <table class="invoice-list-table table border-top dataTable no-footer dtr-column collapsed"
                id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 959px;">
                <thead>
                    <tr>
                        <th class="control sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                            colspan="1" style="width: 18px;" aria-label=": activate to sort column ascending"></th>
                        
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            style="width: 89px;" aria-label="Client: activate to sort column ascending">Name</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                            style="width: 80px;" aria-label="Total: activate to sort column ascending">Assigned To</th>
                        <th class="text-truncate sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                            colspan="1" style="width: 147px;"
                            aria-label="Issued Date: activate to sort column ascending">Created Date</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 110px;" aria-label="Balance">
                            Balance</th>
                        <th class="cell-fit sorting_disabled dtr-hidden" rowspan="1" colspan="1"
                            style="width: 65px; display: none;" aria-label="Actions">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd">
                        <td valign="top" colspan="7" class="dataTables_empty">Loading...</td>
                    </tr>
                </tbody>
            </table>
            <div class="row mx-2">
                <div class="col-sm-12 col-md-6">
                    <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 0
                        to 0 of 0 entries</div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                        <ul class="pagination">
                            <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a
                                    aria-controls="DataTables_Table_0" aria-disabled="true" role="link"
                                    data-dt-idx="previous" tabindex="0" class="page-link">Previous</a></li>
                            <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a
                                    aria-controls="DataTables_Table_0" aria-disabled="true" role="link"
                                    data-dt-idx="next" tabindex="0" class="page-link">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>