<!-- Menu -->

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo">
    <a href="index-2.html" class="app-brand-link">
      <img src="../../static/assets/img/ros_logo.png" alt="" style="width: 110px" />
    </a>

    <a
      href="javascript:void(0);"
      class="layout-menu-toggle menu-link text-large ms-auto"
    >
      <i class="fa-solid fa-arrow-right"></i>
      <!-- <i class="fa-solid fa-arrow-left"></i> -->
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-users"></i>
        <div data-i18n="Users">Users</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item active">
          <a href="{% url 'users' %}" class="menu-link">
            <div data-i18n="List">List</div>
          </a>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-settings"></i>
        <div data-i18n="Roles & Permissions">Roles & Permissions</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="{% url 'roles' %}" class="menu-link">
            <div data-i18n="Roles">Roles</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'permissions' %}" class="menu-link">
            <div data-i18n="Permission">Permission</div>
          </a>
        </li>
      </ul>
    </li>

    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-lock"></i>
        <div data-i18n="Master">Master</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="{% url 'document_title' %}" class="menu-link">
            <div data-i18n="Document Title">Document Title</div>
          </a>
        </li>
      </ul>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="{% url 'vdml_view' %}" class="menu-link">
            <div data-i18n="VDML Document">VDML Document</div>
          </a>
        </li>
      </ul>

    </li>
    <li class="menu-item">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-lock"></i>
        <div data-i18n="Projects">Projects</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item">
          <a href="{% url 'project_view' %}" class="menu-link">
            <div data-i18n="Add Project">Add Project</div>
          </a>
        </li>
      </ul>

    </li>
  </ul>
</aside>
<!-- / Menu -->
