<tr>
  <td><span class="text-nowrap">{{ project.project_name }}</span></td>

  <td>
    <span class="text-nowrap">
      
      {%for manager in project.project_managers.all %}
      
      <span class="badge bg-label-primary m-1">{{ manager.username}}</span>
      
      {% endfor %}
  
    </span>
  </td>
  <td>
    <span class="text-nowrap">
      {% for manager in project.document_managers.all %}
            <span class="badge bg-label-primary m-1">{{ manager.username }}</span>
            {% endfor %}
    </span>
  </td>
  <td>
    <!-- Display the required fields for the project -->
    {% for field in project.attributes.all %}
    <span class="badge bg-label-info m-1">{{ field.field_name }}</span>
    {% endfor %}
<!-- Edit Attributes or Add Attributes based on the  -->

{% if project.attributes.all|length > 0 %}
<!-- Show "Edit Fields" button if there are attributes -->
<a href="{% url 'edit_project_fields' project.id %}">
    <button><i class="ti ti-edit"></i>Edit Fields</button>
</a>
{% else %}
<!-- Show "Add Fields" button if there are no attributes -->
<a href="{% url 'add_required_fields' project.id %}">
    <button><i class="ti ti-plus"></i>Add Required Fields</button>
</a>
{% endif %}
  </td>

  <td>
    <span class="text-nowrap">
      <button class="btn btn-sm btn-icon me-2" data-bs-target="#editPermissionModal" data-bs-toggle="modal"
        data-bs-dismiss="modal">
        <i class="ti ti-edit"></i>
      </button>
      <button class="btn btn-sm btn-icon delete-record">
        <i class="ti ti-trash"></i>
      </button>
    </span>
  </td>
</tr>